
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Product</title>
    <th:object th:replace="base :: bt"></head>
    <body>
        <div th:replace="base :: menu"></div>

        <main class = "container">
            <h1 class="text-center text-info mt-2">QUAN LY SAN PHAM</h1>
            <form method="post" th:object="${product}" th:action="@{/products}" enctype="multipart/form-data">
                <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Ten san pham">
                    <label for="name">Ten san pham</label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" id="price" th:field="*{price}" placeholder="Gia san pham">
                    <label for="price">Gia san pham</label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <select class="form-select" id="category" th:field="*{categoryId}">
                        <option th:each="c : ${categories}" th:value = "${c.id}" th:text = "${c.name}"></option>
                    </select>
                    <label for="category">Danh muc</label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="file" class="form-control" id="file" th:field="*{file}">
                    <label for="file">Anh san pham</label>
                </div>
                <div class="form-floating mb-3 mt-3" th:if="${product.image != null}">
                    <img th:src="${product.image}" alt="alt" width="200"/>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="hidden" th:field="*{id}"/> 
                    <input type="hidden" th:field="*{image}"/>

                    <button class="btn btn-success" th:if = "${product.id == null}">Them san pham</button>
                    <button class="btn btn-success" th:unless = "${product.id == null}">Cat nhat san pham</button>

                </div>
            </form>
        </main> 

        <div th:replace="base :: footer"></div>
        <script th:src = "@{/js/main.js}">

        </script>

    </body>
</html>
